.parameter{
  min-width: 130px;
  max-width:250px;
  height:100%;
  float:left;
}
.ones_inp{
  margin-top:20px;
  margin-bottom:20px;
  min-height:50px;
}
.parat_in{
  line-height:54px;
  margin-left:10px;
  font-size:14px;
}
 .subImgs{
  width:600px;
  min-height:200px;
  margin-left: 320px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* 上传图片组 */
/* 优惠券 */
.Coupon{
  width:504px;
  min-height: 100px;
  border-radius: 4px;
  border:1px solid #4da2a4;
  margin-left:320px;
  text-align:center;
} 
.floor_one{
  border-bottom:1px solid #ccc;
  height:50px;
  width:100%;
  display: flex;
  justify-content: center;
}
.floor_one p{
  margin:15px;
}
.home{
  width:1100px;
  background:#fff;
  margin-top:80px;
}
.label{
  position: absolute;
  text-align: right;
  right:820px;
  /* padding-top:15px; */
  line-height: 44px;
}
.redX{
  color:red;
  display: inline-block;
  line-height: 44px;
  font-size:14px;
  margin-left:4px;
}
.release_btns{
  display:flex;
  justify-content:center;
  padding-bottom:40px;
}